/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* CSS rules for phones */
    body {
        background-color: lightblue;
    }

    
}

/* Small devices (portrait tablets and large phones, 600px to 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    /* CSS rules for tablets and large phones */
    body {
        background-color: lightgreen;
    }
}

/* Medium devices (landscape tablets and large phones, 768px to 992px) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* CSS rules for landscape tablets and large phones */
    body {
        background-color: lightcoral;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    /* CSS rules for laptops/desktops */
    body {
        background-color: lightgoldenrodyellow;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* CSS rules for large laptops/desktops */
    body {
        background-color: lightpink;
    }
}
